.comparison {
  max-width: 90%;
  min-width: 600px;
  min-height: 90vh;
  margin: 20px auto 0px auto;
  background: white;
  padding: 24px;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.comparison__top-items {
  display: flex;

  .comparison__top-items__info,
  .comparison__top-items__controls {
    flex: 1;
  }

  .comparison__top-items__info {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    .comparison--title {
      margin-bottom: 0;
    }

    .comparison--title,
    .comparison--text {
      text-align: start;
      align-self: flex-start;
    }
  }
}

.comparison__items__available,
.comparison__items__selected {
  //
}

.comparison--items {
  display: flex;
  justify-content: space-between;
}
